.contact{
    height: 100vh;
    background: linear-gradient(
        to left bottom,
        $GREEN,
        $YELLOW);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .icone_ext{
            display: flex;
            justify-content: space-between;
            width: 20%;
        }
        img{

            height: 150px;
            width: 150px;

        }
        .reserved{
            display: flex;
            justify-content: center;

            width: 100%;

        }

}