.apropos{

    height: calc(100vh);
    width: 100%;
    margin: 0;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1{
        font-size: $TITLE1;
        width: max-content;


    }
    p{
        font-size: $PARAG;
        margin-left: 50px;
        margin-right: 50px;
        line-height:2;


    }

    .icon_details{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .cards_descr{
            display: flex;
            justify-content: center;
            align-items: center;

            h3{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;

            }
        .icone{
        height: 100px;
        width: 100px;

        }   }
    }

}
@media screen and (max-width: 1200px) {
    .apropos{
        p{
            line-height: 1;
        }
    }}
@media screen and (max-width: 900px) {
    .apropos{

        height: auto;
        justify-content: space-around;
        margin-bottom: 10%;

        p{

            line-height: 1;
            margin-left: 20px;
            margin-right: 20px;
            height: auto;

        }

        .icon_details{
            justify-content:space-evenly;
            margin-bottom: 10%;
    
        .cards_descr{


            h3{

                display: none;
            }
        .icone{
        height: 50px;
        width: 50px;

        }   }}
    
    
    
    }}


    


