.navigation{

position: relative;
top: -150px;
display: flex;
justify-content: space-around;
font-size: $PARAG;
list-style:none;
width: 100%;
}

.navigation:hover{

    cursor: pointer;
li:hover{

text-decoration: underline;

}
}