.profil{

    background: linear-gradient(
        to bottom right,
        $GREEN,
        $YELLOW);
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;


    
    .wrapper_nav_text{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color:$BLACK_FONT;
        height: 100%;
        width: 100%;


    }

    h1{
        margin: 20px;
        padding: 0;
        font-size: $TITLE1;

    }   
    h2{
        margin: 20px;
        padding: 0;
        font-size: $TITLE2;

    }
    p{
        margin: 20px;
        padding: 0;
        font-size: $PARAG;
    }
    .contactlink{
        color:$GRAY-TRANS-HOVER;
    }
    .contactlink:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    .highlight {
		display: inline-block;
		color: #343434;
		transition: color 250ms, text-shadow 250ms;
		text-decoration: none;
		// text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
		
		position: relative;
		z-index: 0;

		&::after {
			position: absolute;
			z-index: -1;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			content: '';
			width: 100%;
			height: 3px;
			background-color: #343434;
			transition: all 250ms;
		}

		&:hover {
			color: white;
			text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
            cursor: pointer;

			&::after {
				height: 105%;
				width: 105%;
			}
			
		}
		
	}
.avatar{
    margin: 0;
    animation-duration: 3s;
    animation-name: apparition;
    max-width:100%;
    height:100%;
    background-color: transparent;
    display: flex;
    opacity: 0.3;    
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;


    @keyframes apparition
    {
        from {
        opacity: 0;
        }

        to {
        opacity: 0.3;    
        }
      }

    img{
        margin: 0;
        padding: 0;  
        border-radius: 50%;
        height: 50vh;

    }
}
}

@media screen and (max-width: 600px) {


.profil{
justify-content: space-evenly;

    article{
        margin: 0;


    }
    .avatar{

        position: absolute;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }   
}



}